<h1><%= @track.title %></h1>
<%= link_to @track.album.title, album_url(@track.album) %> <br>
<%= link_to "Edit", edit_track_url(@track) %>

<h3>Lyrics</h3>
<p>
  <%= ugly_lyrics(@track.lyrics) %>
  <!-- <%= @track.lyrics %> -->
</p>

<%= render partial: 'notes/form', locals: { track: @track } %>

<% @track.notes.each do |note| %>
  <%= render partial: 'notes/note', locals: { note: note } %>
<% end %>


<%= button_to "Delete track", track_url(@track),
   method: :delete, data: { confirm: "Are you sure?" } %>
