<% parent_id ||= nil %>

<!-- <h4>Commenting as <%= current_user.username %></h4> -->

<form action="<%= comments_url %>" method="POST">
  <%= authentication_token %>
  <input type="hidden" name="comment[post_id]" value="<%= post_id %>">
  <input type="hidden" name="comment[parent_id]" value="<%= parent_id %>">
  
  <!-- Content -->
  <textarea
    id="comment_content"
    name="comment[content]"
  ></textarea>
  <input type="submit" value="Reply">
</form>