<% action = album.persisted? ? album_url(album) : albums_url %>
<% method = album.persisted? ? "PATCH" : "POST" %>
<% button_text = album.persisted? ? "Update" : "Create" %>

<form action="<%= action %>", method="POST">
  <input type="hidden" name="_method" value="<%= method %>">
  <%= authenticity_token %>
  
  <label for="album_band">
    Band
  </label>
  <select
         id="album_band" 
         name="album[band_id]">
    <% Band.all.each do |band| %>
      <option
        value="<%= band.id %>"
        <%= "selected" if album.band == band %>>
        <%= band.name %>
      </option>
    <% end %>
  </select>
  
  <input 
    type="radio"
    name="album[venue]"
    id="album_venue_studio"
    value="studio"
    <%= "checked" if album.venue == "studio" %>>
  <label for="album_venue_studio">
    Studio
  </label>
    
  <input
    type="radio"
    name="album[venue]"
    id="album_venue"
    value="live"
    <%= "checked" if album.venue == "live" %>>
    
  <label for="album_venue_live">
    Live
  </label>
    
  
  <label for="album_title">
    Title
  </label>
  <input type="text"
         name="album[title]"
         id="album_title"
         value="<%= album.title %>">
         
  
  
  <input type="submit" value= "<%= button_text %>"> 
</form>