<h1><%= link_to "Raspberry Jams", root_url %></h1>
<% if signed_in? %>
  <%= "Welcome, #{current_user.email}" %>
  <%= button_to "Sign out", session_url, method: :delete %>
<% else %>
  <%= "Welcome!" %>
  <%= link_to "Sign in!", new_session_url %>
<% end %>
