<% action_path = (goal.persisted? ? goal_url(goal) : goals_url) %>
<% http_action = (goal.persisted? ? "put" : "post" ) %>
<% button_text = (goal.persisted? ? "Update Goal" : "Add New Goal")%>

<form action="<%= action_path %>" method="post">
  <input 
    type="hidden" 
    name="_method" 
    value="<%= http_action%>" >
  <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">
  
  <label>Title
    <input type="text" name="goal[title]" value="<%= goal.title %>" >
  </label>
  <br>
  <label>Description
    <textarea
      name="goal[description]"><%= goal.description %></textarea>
  </label>
  
  <label>Private
    <input 
      type="checkbox"
      name="goal[private]"
      value="true"
      <%= "checked" if goal.private %>>
  </label>
  
  <label>Completed
    <input
      type="checkbox"
      name="goal[completed]"
      value="true"
      <%= "checked" if goal.completed %>>
  </label>
  
  <input type="submit" value="<%= button_text %>">
</form>