<!DOCTYPE html>
<html>
<head>
  <title>NinetyNineCats</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
 <%#= "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1 id="site_name" title="more like 3">99 Cats</h1>
<div id="site_login">
  <% if current_user.nil? %>
    <%= link_to "Log in!", new_session_url %>
  <% else %>
    <%= "Welcome, #{current_user.user_name}!" %>
    <%= button_to "Log out", session_url, method: :delete %>
  <% end %>
</div>

<div class="container">
  <%= yield %>
</div>

</body>
</html>
