<!DOCTYPE html>
<html>
<head>
  <title>NinetyNineCats</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
 <%#= "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="site_header">

<h1 id="site_name" title="more like 3"><%= link_to "99 Cats", cats_url %></h1>
<div id="site_login">
  <% if signed_in? %>
    <%= "Welcome, #{current_user.user_name}!" %>
    <%= button_to "Log out", session_url, method: :delete %>
  <% else %>
    <%= link_to "Log in!", new_session_url %>
  <% end %>
</div>

</div>

<div class="container">
  <%= yield %>
</div>

</body>
</html>
