<!DOCTYPE html>
<html>
<head>
  <title>GoalSetter</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <% if logged_in? %>
  <h4>Welcome <%= current_user.username %></h4>
  <%= button_to "Sign Out", session_url, method: :delete %>
  <% end %>
  
  <%= flash[:errors].join("\n") if flash[:errors] %>

<%= yield %>

</body>
</html>
